.loading-overlay {
    display: table;
}

.loading-overlay-content {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 1.35em;
    font-weight: 600;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.loading-overlay.loading-theme-light {
    background: var(--bg-loading);
    color: var(--empresa-secundary);
}

.preloader-scan {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 380px;
    text-align: center;
    vertical-align: middle;
}

    .preloader-scan ul {
        -webkit-padding-start: 0 !important;
        margin: 0 !important;
    }

    .preloader-scan .laser {
        position: absolute;
        top: -110%;
        width: 150%;
        height: 2px;
        z-index: 2;
        margin-left: -25%;
        background-color: var(--empresa-success);
        box-shadow: 0 0 10px var(--empresa-success);
        animation: scanning 2s infinite;
    }

    .preloader-scan .laser-effect {
        animation: glitch .06s infinite;
    }

@keyframes glitch {
    50% {
        opacity: .5;
    }
}

@keyframes scanning {
    50% {
        transform: translateY(45px);
    }
}

@media (max-width: 801px) and (max-height: 600px) {
    .preloader-scan .laser {
        width: 90%;
        margin-left: 5%;
    }

    @keyframes scanning {
        50% {
            transform: translateY(25px);
        }
    }
}
